<h2>Hello <%= current_user.name %>!</h2>

<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-11">
    <div class="align-left">
      <%= render partial: 'items/form' %>
        <small><i>
          <span class="glyphicon glyphicon-info-sign"></span>
          Items longer than 50 characters will not post to your list.
        </i>
        </small>
    </div>

    <%= render @items %>
  </div>
</div>
