<h3>Your BlocItOff Profile:</h3>
<div class="row">
  <div class="col-md-8">
    <div class="media">
      <% if @user.avatar? %>
        <div class="media-left">
          <%= image_tag @user.avatar.url, class: 'media-object' %>
        </div>
      <% end %>
      <div class="media-body">
        <%= render @tasks %>
        <h3>Your Tasks!</h3>
        <ul>
        <li>adhfahdfkjahfd</li>
        <li>adhfahdfkjahfd</li>
        <li>adhfahdfkjahfd</li>
        <li>adhfahdfkjahfd</li>
        </ul>
      </div>
    </div>
  </div>
</div>
