<br>
<div class="jumbotron">
  <h1>BlocItOff</h1>
  <p>BlocItOff - a better self-destructing to-do list.</p>
  <p>
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> or
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
  </p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>A To-do list that keeps your priorities straight.</h2>
    <p>Only add your most important tasks.</p>
  </div>
  <div class="col-md-4">
    <h2>Task self-destruct afer 7 days.</h2>
    <p>This keeps your focused on your most important to-do list items..</p>
  </div>
  <div class="col-md-4">
    <h2>Makes your life better. </h2>
    <p>Removes clutter and keeps your organized.</p>
  </div>
</div>