<%= content_tag :div, class: 'media', id: "item-#{item.id}" do %>

  <div class='media-body'>
    <h6>
      <%= link_to "", [item.user, item], method: :delete, class: 'glyphicon glyphicon-ok', remote: true %>
      <%= item.name %>
    </h6>
  </div>
<% end %>
